<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div >
            <h1>Sign up</h1>
            <form action="/register" method="POST">
                <input type="text" name="uname">
                <input type="submit">
            </form>
            
        </div>
    </body>
</html>